@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2 style="font-weight:bold; color:#053177">Manage Users & Roles</h2>

@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

<h2 style="font-weight:bold; color:#053177">List of Roles</h2>
<div>
    @foreach (var role in Model)
    {
    <p>
        <strong>@role.Name</strong>
        @if (!role.Name.Equals("Admin"))
        {
            <strong>&nbsp;|&nbsp;</strong>
            <span onclick="return confirm('Are you sure you want to Delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete&nbsp;</a></span>
            <span>|</span>
            @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })

         }
    </p>
    }
</div>